<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtraining.lecture18">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- If intent-filter is not defined, then android:exported="true" must be set
        Otherwise, this Receiver will not be able to receive external broadcast -->
        <receiver android:name=".BR2">
            <intent-filter>
                <action android:name="com.androidtraining.lecture18.broadcastsender.CUSTOM_ACTION_1"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>